//@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

$Very-dark-blue: hsl(244, 94%, 38%);
$blue: hsl(241, 69%, 39%);
$Lemon: hsl(186, 49%, 44%);
$Green: hsl(160, 81%, 30%);
$Light-grayish-cyan: hsl(185, 41%, 84%);
$Very-light-grayish-cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

$Mono-space-font: "Space Mono", monospace; ;
